body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.report-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.report-title {
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 20px;
}

.form-label {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
  display: block;
}

.form-group1 {
  margin-bottom: 20px;
}


.form-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 7px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.loading {
  background-color: #ffcc00;
  color: #333333;
}

.message {
  margin-top: 20px;
  font-size: 1rem;
  color: #007bff;
  font-weight: bold;
}

@media (max-width: 768px) {
  .report-container {
    padding: 15px;
  }

  .report-title {
    font-size: 1.5rem;
  }
}
